/* Reset default browser styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Add a background color and center content */
body {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  padding: 2rem;
}

.input__wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

/* Style the input and button */
#listInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Style the task date */
#taskDate {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

#addTask {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

#addTask:hover {
  background-color: #0056b3;
}

/* Center the warning message */
#warning {
  text-align: center;
  margin-top: 10px;
}

/* Style the task list */
#taskList {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style the tasks and delete buttons */
li {
  background-color: white;
  min-width: 350px;  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 100px 60px;
  column-gap: 1em;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
}

.delete-button {
  color: rgb(255, 55, 55);
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.35s ease-in;
}

.delete-button:hover {
  color: rgb(199, 0, 0);
}

/* Add hover effect to tasks */
li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Responsive media queries */
/* Extra small (xs) */
@media (min-width: 475px) {
  .input__wrapper {
    flex-direction: column;
  }
}

/* Small (sm) */
@media (min-width: 640px) {
  .input__wrapper {
    flex-direction: row;
  }
}

/* Medium (md) */
@media (min-width: 768px) {
  /* Add specific styles for medium screens here */
}

/* Large (lg) */
@media (min-width: 1024px) {
  /* Add specific styles for large screens here */
}

/* Extra large (xl) */
@media (min-width: 1280px) {
  /* Add specific styles for extra large screens here */
}

/* 2XL (2xl) */
@media (min-width: 1536px) {
  /* Add specific styles for 2XL screens here */
}
